/* font import */

@font-face {
    font-family: 'soleilregular';
    src: url('webfontkit-20220814-050730/soleilregular-webfont.woff2') format('woff2'), url('webfontkit-20220814-050730/soleilregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* text */

body {
    min-height: 100%;
    margin: 0;
    background-color: #ffffff;
}

p {
    font-family: 'soleilregular';
    font-style: normal;
    /* margin-bottom: 12px; */
    font-size: 20px;
    font-weight: 200;
    /* line-height: 1.11em; */
    color: #000;
}

h1 {
    font-family: 'soleilregular';
    font-style: normal;
    /* margin-bottom: 12px; */
    font-size: 3rem;
    font-weight: 600;
    /* line-height: 1.11em; */
    color: #000;
}

.center {
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center；
}


/* course boxes */

.coursebox {
    background-color: rgb(236, 236, 236);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    float: left;
    /* display: inline-block; */
    width: 240px;
    margin: 2vh 5vh;
    cursor: pointer;
    transition: all 0.5s;
}

.coursebox p {
    font-family: 'soleilregular';
    font-size: 18px;
    text-align: center;
    /* padding: 0px 5px; */
    text-decoration: none;
}

.coursebox img {
    border: 0px;
    border-radius: 8px;
    display: inline-block;
    max-width: 100%;
    height: auto;
    opacity: 0.8;
}

.coursebox:hover {
    opacity: 0.5;
}


/* navigation bar */

.topnav {
    background-color: #031a22;
    overflow: hidden;
}

.topnav a {
    border: none;
    float: left;
    color: #f2f2f2;
    background-color: #031a22;
    text-align: center;
    padding: 16px 40px;
    text-decoration: none;
    font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
    font-size: 17px;
}

.topnav a:hover {
    background-color: #424242;
    /* color: #000000; */
}

.topnav a.active {
    background-color: #806eb1;
    color: white;
}

.topnav button {
    border-style: none;
    border-radius: 10px;
    /* border-style: solid;
    border-color: rgb(0, 26, 51);
    border-width: 3px;
    border-radius: 5px; */
    color: rgb(0, 0, 0);
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: all 0.2s;
    font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
}

.topnav button.account {
    position: absolute;
    top: 4px;
    right: 4px;
    background-color: rgb(51, 51, 51);
    color: rgb(255, 255, 255);
}

.topnav button:hover {
    opacity: 0.6;
}

.topnav button:active {
    transform: translateY(6px);
}