/* animations */

@keyframes cool {
    0% {
        background-color: #031a22;
    }
    50% {
        background-color: #806eb1;
    }
    100% {
        background-color: #031a22;
    }
}


/* text */

body {
    min-height: 100%;
    background-color: #031a22;
    animation-name: cool;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

p {
    font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
    font-size: 1em;
    color: #c2ecfc;
}

.welcome {
    font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
    font-size: 5rem;
    color: #c2ecfc;
}


/* buttons */

.startbutton {
    background-color: rgb(224, 224, 224);
}

.button {
    border-style: none;
    border-radius: 10px;
    /* border-style: solid;
    border-color: rgb(0, 26, 51);
    border-width: 3px;
    border-radius: 5px; */
    color: rgb(0, 0, 0);
    padding: 11px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: all 0.5s;
    font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
    font-size: 3vh;
    margin: 4px 2px;
    cursor: pointer;
}

.button:hover {
    opacity: 0.8;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    left: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 15px;
    padding-left: 15px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.button:active {
    transform: translateY(6px);
}


/* align */

.center {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center；
}

.outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    /* Whatever width you want */
}