<!DOCTYPE html>

<html>

   <head>
         <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
         <title>Cool</title>
         <link rel="stylesheet" href="/static/stylesheets/home.css">
   </head>

   <body>

    <!--Navigation Bar-->
    <div class="topnav">
        <a class="active" href="home"> Home </a>
        <a href="about"> About </a>
        <button class="account" onClick="location.href='signup'"> Sign Up </button>
    </div> 

    <!--Courses Header-->
    <h1 class="center"> Available Courses </h1>
    <p class="center"> Learn. </p>

    <!--Python Bot Course-->
    <div class="coursebox"> 
        <img src="/static/stylesheets/discord.png">
        <p> Discord Bots in Python </p>
    </div>

    <!--? Course-->
    <div class="coursebox"> 
        <img src="/static/stylesheets/originoot.jpg">
        <p> Placeholder 1 </p>
    </div>

    <!--? Course-->
    <div class="coursebox"> 
        <img src="static/stylesheets/wallpaper - Copy.jpg">
        <p> Placeholder 2 </p>
    </div>

    <!--? Course-->
    <div class="coursebox"> 
        <img src="static/stylesheets/Untitled.png">
        <p> Placeholder 3 </p>
    </div>

    </body>

</html>
